body > #root > div {
  min-height: 100vh;
}
.container-main {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #222831;
  grid-template-rows: minmax(700px, auto) minmax(120px, 120px);
}
